
Documentos/Problem_Set_3_VG_AB.aux
Documentos/Problem_Set_3_VG_AB.bbl
Documentos/Problem_Set_3_VG_AB.blg
Documentos/Problem_Set_3_VG_AB.out
Documentos/Problem_Set_3_VG_AB.log
Documentos/Problem_Set_3_VG_AB - V2.aux
Documentos/Problem_Set_3_VG_AB - V2.bbl
Documentos/Problem_Set_3_VG_AB - V2.blg
Documentos/Problem_Set_3_VG_AB - V2.log
Documentos/Problem_Set_3_VG_AB - V2.out
Documentos/~WRL1095.tmp
